* {
	margin: 0;
	padding: 0;
}

#top-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	height: 10vh;
	background-color: black;
	color: white;
}

#scroll-nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	align-content: space-evenly;
	height: 5vh;
	background-color: purple;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
}

.about {
	background-color: blue;
	height: 100vh;
}
.projects {
	background-color: green;
	height: 100vh;
}
.resume {
	background-color: grey;
	height: 100vh;
}
.contact-me {
	background-color: orange;
	height: 100vh;
}

.active {
	color: orange;
	transition: color 2s;
}

/* .sticky {
	position: fixed;
	width: 100%;
	transition: 1s ease;
	transform: translate(0, -200px);
	top: 0;
} */

.upper {
	transform: translate(0, -200px);
	transition: 1s ease;
}

.inView {
	transform: translate(0, 0);
	transition: 1s ease;
}
