@import url('https://fonts.googleapis.com/css?family=Roboto:400');
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Monsterrat', sans-serif;
	font-size: 3rem;
	text-transform: uppercase;
	font-weight: 600;
}

#top-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 10vh;
	margin-top: 2vh;
	background-color: transparent;
	position: absolute;
	color: black;
	width: 100%;
}

#scroll-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 5vh;
	background-color: black;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
	opacity: 0.85;
}

.home {
	background-image: url(../images/kc_skyline_minimal_small.png);
	height: 100vh;
	/* background-attachment: fixed; */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 10vh;
	color: white;
	display: grid;
	grid-template-columns: 10% 20% 20% 20% 20% 10%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.home div {
	grid-column: 2 / 4;
	grid-row-start: 2;
	column-span: all;
}

.home div h1 {
	color: black;
	margin-right: 5vw;
	font-size: 5rem;
}

.home div h2 {
	color: black;
	font-size: 3rem;
}
.text-box {
	margin-top: 10vh;
	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 20% 20% 20% 20% 20%;
}

.text-box p {
	grid-column: 2 / 3;
	line-height: 2rem;
	margin-bottom: 5rem;
	font-family: 'Martel Sans';
	font-weight: 400;
}

.skills-container {
	display: grid;
	grid-template-columns: 1fr 20% 20% 20% 1fr;
	grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
	column-gap: 3vw;
}

.skills-box {
	color: white;
	background-color: grey;
	border-radius: 1rem;
}

.skills-box h2 {
	margin-top: 1vh;
	font-family: 'Monsterrat', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(31, 25, 25);
	border-bottom: black solid 2px;
}

.skills-box p {
	margin-top: 1vh;
	font-family: 'Martel Sans';
	font-weight: 400;
	line-height: 1.2rem;
}

.skills-box img {
	margin-top: 1vh;
}

.skills-box-1 {
	height: auto;
	width: auto;
	grid-column: 2 / 3;
	grid-row: 2 / 7;
}
.skills-box-2 {
	height: auto;
	width: auto;
	grid-column: 3 / 4;
	grid-row: 2 / 7;
}
.skills-box-3 {
	height: auto;
	width: auto;
	grid-column: 4 / 5;
	grid-row: 2 / 7;
}

.about {
	background-image: linear-gradient(black, rgb(39, 39, 39));
	height: 100vh;
	color: white;
	display: block;
	text-align: center;
}
.about h1 {
	padding-top: 5vh;
}
.projects {
	/* background-color: rgb(39, 39, 39); */
	background-image: linear-gradient(rgb(39, 39, 39, 1), rgba(0, 0, 0, 0.719));
	height: 100vh;
	display: block;
	text-align: center;
	color: white;
}

.projects h1 {
	padding-top: 5vh;
}

.projects-grid {
	display: grid;
	grid-template-columns: 1fr 20% 20% 20% 1fr;
	grid-template-rows: 8vh 20vh 20vh 20vh 32vh;
	column-gap: 1vw;
	row-gap: 2vh;
}

.project-div img {
	height: 90%;
	width: 90%;
	border: black solid 2px;
}

.project-div p {
	font-family: 'Martel Sans';
	font-weight: 400;
}

.project-1 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}
.project-2 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
}
.project-3 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}
.project-4 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.project-5 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
}
.project-6 {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}
.project-7 {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}
.project-8 {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
}
.project-9 {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}

.contact-me {
	background-image: url(../images/contact_blackboard.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* background-color: orange; */
	height: 95vh;
	display: block;
	text-align: center;
	color: white;
}

.contact-me h1 {
	padding-top: 5vh;
}

.links {
	display: flex;
	justify-content: center;
}

.links a {
	text-decoration: none;
}

.links h2 {
	margin-top: 5vh;
	margin-left: 10vw;
	margin-right: 10vw;
	font-family: 'Monsterrat', sans-serif;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 600;
	color: rgb(173, 133, 22);
}

.active {
	color: orange;
	transition: color 1s;
}

.upper {
	transform: translate(0, -200px);
	transition: 1s ease;
}

.inView {
	transform: translate(0, 0);
	transition: 0.6s ease;
}

.container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

nav a {
	margin-left: 2vw;
	margin-right: 2vw;
	cursor: pointer;
	transition: color 1s;
}

nav a:hover {
	color: orange;
	transition: 0.5s;
}

footer {
	height: 5vh;
	background-color: black;
	display: flex;
	justify-content: center;
	align-content: center;
	color: rgb(128, 128, 128);
}

footer h4 {
	align-self: center;
}

.contact-info {
	margin-top: 60vh;
	display: flex;
	justify-content: space-evenly;
}
