* {
	margin: 0;
	padding: 0;
}

#top-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 10vh;
	margin-top: 2vh;
	background-color: transparent;
	position: absolute;
	color: white;
	width: 100%;
}

#scroll-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	height: 5vh;
	background-color: purple;
	color: white;
	position: fixed;
	width: 100%;
	top: 0;
}

.home {
	background-color: black;
	height: 100vh;
	padding-top: 10vh;
	color: white;
}
.about {
	background-color: blue;
	height: 100vh;
}
.projects {
	background-color: green;
	height: 100vh;
}
.resume {
	background-color: grey;
	height: 100vh;
}
.contact-me {
	background-color: orange;
	height: 100vh;
}

.active {
	color: orange;
	transition: color 1s;
}

.upper {
	transform: translate(0, -200px);
	transition: 1s ease;
}

.inView {
	transform: translate(0, 0);
	transition: 0.6s ease;
}

.container {
	display: grid;
	grid-template-columns: 25% 50% 25%;
}

nav a {
	margin-left: 2vw;
	margin-right: 2vw;
	cursor: pointer;
}

nav a:hover {
	color: orange;
	transition: 1s;
}

#nav-name {
	align-self: center;
	justify-self: center;
}
#blake {
	align-self: center;
	justify-self: center;
}
#wright {
	align-self: center;
	justify-self: center;
}
